__pycache__/
*.pyc
*.sqlite3
*.swp
.DS_Store
**/.env
.env/
*.env

# Security and sensitive files
logs/
*.log
db.sqlite3
media/
staticfiles/
.coverage
htmlcov/

# Development files
.vscode/
.idea/
*.sublime-*

# OS files
Thumbs.db
.DS_Store
